*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Raleway';
}
body{
    background-color: hsl(229, 57%, 11%);
    background-image: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#div1{
    width: 330px;
    height: 170px;
    background-color: hsl(228, 56%, 26%);
    margin-right: 35px;
    margin-bottom: 310px;
    border-radius: 12px;
    border-top-right-radius: 90px;
}
#div1 #logo{
    margin-top: 35px;
    margin-left: 30px;
}
#div1 #options{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 30px;
}
#div1 #options .item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(229, 57%, 11%);
    padding: 10px;
    border-radius: 10px;
    margin-right: 13px;
    cursor: pointer;
}
#div2{
    width: 500px;
    height: 130px;
    background-color: hsl(228, 56%, 26%);
    margin-bottom: 310px;
    border-radius: 12px;
    font-size: 14px;
    position: relative;
}
#div2 #subtitle{
    margin-top: 35px;
    margin-left: 35px;
}
#div2 #bar-storage{
    margin-top: 16px;
    margin-left: 35px;
    width: 425px;
    height: 15px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    padding: 3px;
}
#div2 #bar-storage #progess-bar{
    width: 80%;
    height: 13px;
    margin: 1px;
    background: linear-gradient(90deg, rgb(255, 163, 153) 0%, rgb(255, 77, 151));
    border-radius: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#div2 #bar-storage #progess-bar #circle{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
    margin-right: 3px;
}
#div2 #infos{
    margin-top: 7px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
    margin-right: 36px;
}

#div2 #pop-up{
    position: absolute;
    background-color: white;
    color: hsl(229, 7%, 55%);
    padding: 10px 20px;
    top: -45px;
    left: 292px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border-bottom-right-radius: 0;
}
#div2 #pop-up #number{
    color: hsl(229, 57%, 11%);
    font-weight: 700;
    font-size: 40px;
    margin-right: 10px;
}
#div2 #pop-up #text{
    color: hsl(229, 7%, 55%);
    font-weight: 700;
    font-size: 14px;
}
#div2 #pop-up #arrow{
    position: absolute;
    top: 55px;
    left: 147px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 0px solid transparent;
    border-top: 30px solid white;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
}

@media (max-width: 1000px) {
    body{
        background: url('../images/bg-mobile.png') center center no-repeat fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #div1{
        margin-bottom: 20px;
        margin-right: 0;
    }
    #div2{
        margin-bottom: 0;
        width: 330px;
        padding-bottom: 36px;
    }
    #div2 #bar-storage{
        width: 250px;
        height: 15px;
        background-color: hsl(229, 57%, 11%);
        border-radius: 10px;
        padding: 3px;
    }
    #div2 #pop-up{
        top: 120px;
        left: 70px;
        border-bottom-right-radius: 12px;
    }
    #div2 #pop-up #arrow{
        opacity: 0;
    }
}